        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            background-image: url("https://i.ibb.co/PZgN9jYp/file-00000000ecd061fa9201e82fe93a7dd5.png");
            background-size: cover;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
        }
        button {
            margin-top: 15px;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background: #3366CC;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background: #0F5298;
        }
        a {
            color:white;
            text-decoration: none;

        }